{% extends "base-content.html" %}
{% block content-body %}
{% if event %}
<div class="row">
  <div class="col-md-12">
    <h4>Event Configuration</h4>
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
          <td class="td-label">Name</td>
          <td>{{ event.name }}</td>
        </tr>
        <tr>
          <td class="td-label">Description</td>
          <td>{{ event.description }}</td>
        </tr>
        <tr>
          <td class="td-label">State</td>
          <td>{{ event.get_state_display }}</td>
        </tr>
        <tr>
          <td class="td-label">Belongs to Slice</td>
          <td>{{ event.belongs_to_slice.name }}</td>
        </tr>
        <tr>
          <td class="td-label">Metric</td>
          <td>{{ event.metric }}</td>
        </tr>
        <tr>
          <td class="td-label">Relational Operation</td>
          <td>{{ event.get_relational_operation_display }}</td>
        </tr>
        <tr>
          <td class="td-label">Value</td>
          <td>{{ event.value }}</td>
        </tr>
        <tr>
          <td class="td-label">Program</td>
          <td>{{ event.program }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

