{% load utils %}
{% if memory_stats %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Type</th>
            <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>Total</td>
            <td class="number">{{ memory_stats.total|unit_convert:"KB" }}</td>
        </tr>
        <tr>
            <td>Cached</td>
            <td class="number">{{ memory_stats.cached|unit_convert:"KB" }}</td>
        </tr>
        <tr>
        	<td>Buffers</td>
            <td class="number">{{ memory_stats.buffers|unit_convert:"KB" }}</td>
        </tr>
        <tr>
        	<td>Free</td>
            <td class="number">{{ memory_stats.free|unit_convert:"KB" }}</td>
        </tr>
      </tbody>
    </table>
{% else %}
    <p><b>No statistics available.</b></p>
{% endif %}
