{% extends "base-content.html" %}
{% load url from future %}

{% block content %}
<div class="container first-container">
    <h1 class="logo">Aurora CloudManager <sup><small>beta</small></sup></h1>
    <form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2>Login</h2>
        {% if form.errors %}
          <p class="text-error">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <a class="btn btn-block btn-google" href="{% url "social:begin" "google-oauth2" %}"><span class="glyphicon icon-google">&nbsp;</span> Sign in with Google</a>
        <a class="btn btn-block btn-facebook" href="{% url "social:begin" "facebook" %}"><span class="glyphicon icon-facebook">&nbsp;</span> Sign in with Facebook</a>
    </form>
</div>
{% endblock %}
