{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if slc %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
            <td><b>Name</b></td>
            <td>{{ slc.name }}</td>
        </tr>
        <tr>
            <td><b>Owner</b></td>
            <td>{{ slc.owner }}</td>
        </tr>
        <tr>
            <td><b>State</b></td>
            <td>{{ slc.current_state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Deployment and Optimization</h4>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary btn-xs pull-right" href="/Aurora/cloud/slices/{{ slc.id }}/add_optimization_program/">
      <span class="glyphicon glyphicon-plus"></span>
      Add Optimization Program
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% if slc.deployed_with %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
            <th>Deployed with</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><a href="/Aurora/cloud/deployment_programs/{{ slc.deployed_with_id }}/">{{ slc.deployed_with }}</a></td>
        </tr>
      </tbody>
    </table>
	{% else %}
	    <p><b>No deployment programs assigned for this slice.</b></p>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if optimized_by_list %}
	    <table class="table table-striped table-hover table-bordered">
          <thead>
	        <tr>
	            <th>Optimized by</th>
	            <th>Priority</th>
	            <th>Scope</th>
	            <th>Action</th>
	        </tr>
          </thead>
          <tbody>
	        {% for op in optimized_by_list %}
	        <tr>
	            <td><a href="/Aurora/cloud/optimization_programs/{{ op.program_id }}/">{{ op.program.name }}</a></td>
	            <td>{{ op.priority }}</td>
	            <td>{{ op.program.get_scope_display }}</td>
	            <td>
	            	<a class="btn btn-xs btn-danger" href="/Aurora/cloud/slices/{{ slc.id }}/remove_optimization_program/{{ op.id }}">Remove</a>
	            </td>
	        </tr>
	        {% endfor %}
          </tbody>
	    </table>
	{% else %}
	    <p><b>No optimization programs assigned for this slice.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>VMs</h4>
    {% if vm_list %}
	    <table class="table table-striped table-hover table-bordered">
          <thead>
	        <tr>
	            <th>Name</th>
	            <th>Host</th>
	            <th>Memory</th>
	            <th>VCPU</th>
	            <th>State</th>
	            <th>Action</th>
	        </tr>
          </thead>
          <tbody>
	        {% for vm in vm_list %}
	        <tr>
	            <td><a href="/Aurora/cloud/virtual_machines/{{ vm.id }}/">{{ vm.name }}</a></td>
	            <td>{{ vm.host }}</td>
	            <td>{{ vm.memory|unit_convert:"KB" }}</td>
	            <td>{{ vm.vcpu }}</td>
	            <td>{{ vm.current_state }}</td>
	            <td>
                {% if vm.current_state != "not deployed" %}
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/xml/" class="no-ajax">XML</a>
                {% else %}
                    <a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/delete/">Delete</a>
                {% endif %}
                {% if vm.current_state == "paused by user" %}
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/resume/">Resume</a>
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/stop/">Stop</a>
                {% endif %}
                {% if vm.current_state == "running" %}
                    <div class="btn-group">
                        <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/shutdown/">Shutdown</a>
                        <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/Aurora/cloud/virtual_machines/{{ vm.id }}/stop/">Stop</a></li>
                          <li><a href="/Aurora/cloud/virtual_machines/{{ vm.id }}/suspend/">Suspend</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/migrate/">Migrate</a>
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/console/" onclick="window.open(this.href,'','width=800,height=600'); return false;">Console</a>
                {% endif %}
                {% if vm.current_state == "shut off" %}
                    <a class="btn btn-xs btn-default" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/start/">Start</a>
                    <a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/delete/">Delete</a>
                {% endif %}
                {% if vm.current_state == "Could not read state" %}
                    <a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_machines/{{ vm.id }}/delete/">Delete</a>
                {% endif %}
	            </td>
	        </tr>
	        {% endfor %}
          </tbody>
	    </table>
	{% else %}
	    <p><b>No VMs in this slice.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Virtual Routers</h4>
    {% if vr_list %}
	    <table class="table table-striped table-hover table-bordered">
          <thead>
	        <tr>
	            <th>Name</th>
	            <th>Host</th>
	            <th>State</th>
	            <th>Action</th>
	        </tr>
          </thead>
          <tbody>
        {% for vr in vr_list %}
        <tr>
            <td><a href="/Aurora/cloud/virtual_routers/{{ vr.id }}/">{{ vr.name }}</a></td>
            <td>{{ vr.host }}</td>
            <td>{{ vr.current_state }}</td>
            <td>
	            <a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_routers/{{ vr.id }}/delete/">Delete</a>
            </td>
        </tr>
        {% endfor %}
          </tbody>
	    </table>
	{% else %}
	    <p><b>No Virtual Routers in this slice.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Virtual Links</h4>
    {% if link_list %}
	    <table class="table table-striped table-hover table-bordered">
          <thead>
	        <tr>
	            <th>Start</th>
	            <th>End</th>
	            <th>State</th>
	            <th>Action</th>
	        </tr>
          </thead>
          <tbody>
	        {% for link in link_list %}
	        <tr>
	            <td>
	            	<a href="/Aurora/cloud/virtual_links/{{ link.id }}/">
	            		{{ link.if_start.attached_to.name }} - 
	           			{{ link.if_start.alias }} ({{ link.if_start.mac_address }})
	            	</a>
	            </td>
	            <td>
	           		{{ link.if_end.attached_to.name }} - 
	           		{{ link.if_end.alias }} ({{ link.if_end.mac_address }})
	            </td>
	            <td>{{ link.current_state }}</td>
	            <td><a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_links/{{ link.id }}/delete/">Delete</a></td>
	        </tr>
	        {% endfor %}
          </tbody>
	    </table>
	{% else %}
	    <p><b>No Links in this slice.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	<h4>Topology</h4>
	<!-- JIT Library File -->
	<script language="javascript" type="text/javascript" src="/Aurora/static/cloud/js/jit/jit-yc.js"></script>
	<!-- Example File -->
	<script language="javascript" type="text/javascript" src="/Aurora/static/cloud/js/directed_graph.js"></script>
	<!-- Styles for graphs -->
	<link rel="stylesheet" href="/Aurora/static/cloud/css/graph.css" />
	<div id="infovis"></div>
	<div id="log"></div>
	<div id="inner-details"></div>
	<script language="javascript">init_directed_graph({{ slc.get_json_graph_data|safe }})</script>
  </div>
</div>
{% endif %}
{% endblock %}
