{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if switch %}
<div class="row">
  <div class="col-md-12">
    <h4>Switch Configuration</h4>
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
          <td class="td-label">Name</td>
          <td>{{ switch.name }}</td>
        </tr>
        <tr>
          <td class="td-label">Description</td>
          <td>{{ switch.description }}</td>
        </tr>
        <tr>
          <td class="td-label">Type of Switch</td>
          <td>{{ switch.get_sw_type_display }}</td>
        </tr>
        <tr>
          <td class="td-label">Hostname</td>
          <td>{{ switch.hostname }}</td>
        </tr>
        <tr>
          <td class="td-label">Total Ports</td>
          <td>{{ switch.total_ports }}</td>
        </tr>
        <tr>
          <td class="td-label">State</td>
          <td>{{ switch.current_state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Port Information</h4>
  </div>
	  <div class="col-md-6">
		<a class="btn btn-primary btn-xs pull-right" href="/Aurora/cloud/switches/{{ switch.id }}/new_port/">
            <span class="glyphicon glyphicon-plus"></span>
            Add Port
        </a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
  {% if port_stats %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
	    <tr>
	      <th>Port</th>
	      <th>Packets In</th>
	      <th>Packets Out</th>
	      <th>Bits In</th>
	      <th>Bits Out</th>
	      <th>Errors In</th>
	      <th>Errors Out</th>
	    </tr>
      </thead>
      <tbody>
      {% for port_stat in port_stats %}
        <tr>
          <td>{{ port_stat.alias }}</td>
          <td>{{ port_stat.packets_in }}</td>
          <td>{{ port_stat.packets_out }}</td>
          <td>{{ port_stat.bits_in }}</td>
          <td>{{ port_stat.bits_out }}</td>
          <td>{{ port_stat.errors_in }}</td>
          <td>{{ port_stat.errors_out }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <caption>Port Usage Statistics</caption>
    </table><br/>	
  {% else %}
    <p><b>No port statistics available.</b></p>
  {% endif %}
  {% if port_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Uplink Speed</th>
          <th>Downlink Speed</th>
          <th>Duplex</th>
          <th>Connected Devices</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for port in port_list %}
        <tr>
          <td>{{ port.alias }}</td>
          <td>{{ port.uplink_speed|unit_convert:"bps" }}</td>
          <td>{{ port.downlink_speed|unit_convert:"bps" }}</td>
          <td>{{ port.get_duplex_display }}</td>
          <td>{{ port.count_connected_devices}} ({{ port.list_connected_devices|abbreviate:20 }})</td>
          <td>
            <a class="btn btn-xs btn-default" href="/Aurora/cloud/switches/{{ switch.id }}/connect_device/{{ port.id }}/">Connect Device</a>
            <a class="btn btn-xs btn-danger" href="/Aurora/cloud/switches/{{ switch.id }}/delete_port/{{ port.id }}/">Delete</a>
          </td>
        </tr>
        {% endfor %}
      <caption>Port Information</caption>
      </tbody>
    </table>
  {% else %}
    <p><b>No port information available.</b></p>
  {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
