{% extends "base-content.html" %}
{% block content-body %}
  {% if switch_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Ports</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for switch in switch_list %}
        <tr>
            <td><a href="/Aurora/cloud/switches/{{ switch.id }}/">{{ switch.name }}</a></td>
            <td>{{ switch.description }}</td>
            <td>{{ switch.get_sw_type_display }}</td>
            <td>{{ switch.total_ports }}</td>
            <td>{{ switch.current_state }}</td>
            <td><a class="btn btn-xs btn-danger" href="/Aurora/cloud/switches/{{ switch.id }}/delete/">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No Switches are available.</p>
{% endif %}
{% endblock %}
