{% extends "base-content.html" %}
{% block content-body %}
  {% if link_list.object_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Slice</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for link in link_list.object_list %}
        <tr>
          <td>
            <a href="/Aurora/cloud/virtual_links/{{ link.id }}/">
              {{ link.if_start.attached_to.name }} - 
              {{ link.if_start.alias }} ({{ link.if_start.mac_address }})
            </a>
          </td>
          <td>
          	{{ link.if_end.attached_to.name }} - 
            {{ link.if_end.alias }} ({{ link.if_end.mac_address }})
          </td>
          <td>{{ link.belongs_to_slice.name }}</td>
          <td>{{ link.current_state }}</td>
          <td><a class="btn btn-xs btn-danger" href="/Aurora/cloud/virtual_links/{{ link.id }}/delete/">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><b>No Links are available.</b></p>
  {% endif %}
{% endblock %}
