{% extends request.is_ajax|yesno:"base-home-ajax.html,base-home.html" %}
{% load inspect %}
{% block content %}
{% block content-flash %}
{% if flash %}
<div class="container">
  {% for fm in flash %}
    <div class="alert alert-{{ fm.type }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ fm.message }}
    </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
<div class="container">
{% block content-header %}
  <div class="row">
    <div class="span6">
      <h3>{{ view_vars.title }}</h3>
    </div>
    <div class="span6">
    {% for action in view_vars.actions %}
      &nbsp;
      <a href="{{ action.url }}" class="btn btn-primary pull-right main-action"{% if action.extras == "popup" %} onclick="window.open(this.href,'','width=800,height=600'); return false;"{% endif %}>{{ action.name }}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
<div class="container">
{% block content-body %}{% endblock %}
</div>
{% endblock %}
