{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if host %}
<div class="row">
  <div class="span12">
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
            <td><b>Hostname</b></td>
            <td>{{ host.hostname }}</td>
        </tr>
        <tr>
            <td><b>Driver</b></td>
            <td>{{ host.get_driver_display }}</td>
        </tr>
        <tr>
            <td><b>Transport</b></td>
            <td>{{ host.get_transport_display }}</td>
        </tr>
        <tr>
            <td><b>Username</b></td>
            <td>{{ host.username }}</td>
        </tr>
        <tr>
            <td><b>Port</b></td>
            <td>{{ host.port }}</td>
        </tr>
        <tr>
            <td><b>Path</b></td>
            <td>{{ host.path }}</td>
        </tr>
        <tr>
            <td><b>Extra Parameters</b></td>
            <td>{{ host.extraparameters }}</td>
        </tr>
        <tr>
            <td><b>Libvirt State</b></td>
            <td>{{ host.current_state }}</td>
        </tr>
        <tr>
            <td><b>SSH State</b></td>
            <td>{{ host.check_ssh_status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>System Information</h4>
    {% if sys_info %}
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
	      <td>BIOS</td>
	      <td>{{ sys_info.bios.vendor }} v. {{ sys_info.bios.version }} ({{ sys_info.bios.date }})</td>
	    </tr>
	    <tr>
	      <td>System</td>
	      <td>{{ sys_info.system.product }} {{ sys_info.system.family }} - {{ sys_info.system.manufacturer }}</td>
	    </tr>
	    <tr>
	      <td>Architecture</td>
	      <td>{{ sys_info.architecture }}</td>
	    </tr>
	    <tr>
	      <td>Total Memory</td>
	      <td>{{ sys_info.memory }} MB</td>
	    </tr>
	    <tr>
	      <td>Total CPUs</td>
	      <td>{{ sys_info.cpus }} (Cores {{ sys_info.cores }}) at {{ sys_info.mhz }} MHz</td>
	    </tr>
	    <tr>
	      <td>Libvirt Version</td>
	      <td>{{ sys_info.libvirt_version }}</td>
	    </tr>
	    <tr>
	      <td>Hypervisor Version</td>
	      <td>{{ sys_info.hypervisor_version }}</td>
	    </tr>
      </tbody>
	</table>
	{% else %}
	    <p><b>No system information available.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="span6">
	<h4>Network Information</h4>
  </div>
  <div class="span6">
    <a class="btn btn-primary pull-right" href="/Aurora/manager/hosts/{{ host.id }}/new_interface/">Add Interface</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% if if_stats %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
	    <tr>
          <th>Interface</th>
          <th>Packets In</th>
          <th>Packets Out</th>
          <th>Bits In</th>
          <th>Bits Out</th>
          <th>Errors In</th>
          <th>Errors Out</th>
        </tr>
      </thead>
      <tbody>
      {% for if_stat in if_stats %}
        <tr>
          <td>{{ if_stat.alias }}</td>
          <td>{{ if_stat.packets_in }}</td>
          <td>{{ if_stat.packets_out }}</td>
          <td>{{ if_stat.bits_in }}</td>
          <td>{{ if_stat.bits_out }}</td>
          <td>{{ if_stat.errors_in }}</td>
          <td>{{ if_stat.errors_out }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <caption>Network Usage Statistics</caption>
    </table><br/>
    {% else %}
	    <p><b>No network interface statistics available.</b></p>
    {% endif %}
    {% if if_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
	    <tr>
          <th>Alias</th>
          <th>Type</th>
          <th>Uplink Speed</th>
          <th>Downlink Speed</th>
          <th>Duplex</th>
        </tr>
      </thead>
      <tbody>
      {% for interface in if_list %}
        <tr>
          <td>{{ interface.alias }}</td>
          <td>{{ interface.get_if_type_display }}</td>
          <td>{{ interface.uplink_speed|unit_convert:"bps" }}</td>
          <td>{{ interface.downlink_speed|unit_convert:"bps" }}</td>
          <td>{{ interface.get_duplex_display }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <caption>Network Interface Information</caption>
	</table>
	{% else %}
	    <p><b>No network interface information available.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>Processor Information</h4>
    {% if cpu_stats %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Kernel</th>
          <th>Idle</th>
          <th>User</th>
          <th>I/O Wait</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cpu_stats.kernel }} ({{ cpu_stats|cpu_stats_percentage:"kernel" }}%)</td>
          <td>{{ cpu_stats.idle }} ({{ cpu_stats|cpu_stats_percentage:"idle" }}%)</td>
          <td>{{ cpu_stats.user }} ({{ cpu_stats|cpu_stats_percentage:"user" }}%)</td>
          <td>{{ cpu_stats.iowait }} ({{ cpu_stats|cpu_stats_percentage:"iowait" }}%)</td>
        </tr>
      </tbody>
   	  <caption>Processor Usage Statistics</caption>
    </table><br/>
	{% else %}
	    <p><b>No processor statistics available.</b></p>
	{% endif %}
    {% if cpu_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Socket</th>
          <th>Type</th>
          <th>Family</th>
          <th>Manufacturer</th>
          <th>Version</th>
          <th>Max Speed</th>
        </tr>
      </thead>
      <tbody>
        {% for cpu in cpu_list %}
        <tr>
          <td>{{ cpu.socket_destination }}</td>
          <td>{{ cpu.type }}</td>
          <td>{{ cpu.family }}</td>
          <td>{{ cpu.manufacturer }}</td>
          <td>{{ cpu.version }}</td>
          <td>{{ cpu.max_speed }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <caption>Physical Processor Information</caption>
    </table>
	{% else %}
	    <p><b>No processor information available.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>Memory Information</h4>
    {% if memory_stats %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Cached</th>
          <th>Total</th>
          <th>Buffers</th>
          <th>Free</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ memory_stats.cached|unit_convert:"KB" }}</td>
          <td>{{ memory_stats.total|unit_convert:"KB" }}</td>
          <td>{{ memory_stats.buffers|unit_convert:"KB" }}</td>
          <td>{{ memory_stats.free|unit_convert:"KB" }}</td>
        </tr>
      </tbody>
      <caption>Memory Usage Statistics</caption>
	</table><br/>
    {% else %}
    <p><b>No memory statistics available.</b></p>
    {% endif %}
    {% if memory_list %}
	<table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Locator</th>
          <th>Size</th>
          <th>Form Factor</th>
          <th>Type</th>
          <th>Speed</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
      {% for memory in memory_list %}
        <tr>
          <td>{{ memory.locator }}</td>
          <td>{{ memory.size }}</td>
          <td>{{ memory.form_factor }}</td>
          <td>{{ memory.type }} ({{ memory.type_detail }})</td>
          <td>{{ memory.speed }}</td>
          <td>{{ memory.manufacturer }}</td>
        </tr>
      {% endfor %}
      </tbody>
      <caption>Physical Memory Information</caption>
    </table>
	{% else %}
	    <p><b>No memory information available.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>VMs Information</h4>
    {% if vms_state %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>State</th>
          <th>VMs</th>
        </tr>
      </thead>
      <tbody>
      {% for state, count in vms_state.items %}
	    <tr>
          <td>{{ state }}</td>
          <td>{{ count }}</td>
        </tr>
      {% endfor %}
      </tbody>
      {% if vms_total %}
      <tfoot>
        <tr>
          <td><b>Total</b></td>
	      <td><b>{{ vms_total }}</b></td>
	    </tr>
      </tfoot>
	  {% endif %}
      <caption>Current State of VMs</caption>
    </table>
	{% else %}
    <p><b>No information available about VMs.</b></p>
	{% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
