{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if image_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Format</th>
            <th>Size</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for image in image_list %}
        <tr>
            <td><a href="/Aurora/manager/images/{{ image.id }}/">{{ image.name }}</a></td>
            <td>{{ image.path }}</td>
            <td>{{ image.get_file_format_display }}</td>
            <td>{{ image.get_size|unit_convert:"B" }}</td>
            <td>{{ image.description }}</td>
            <td>
            	<a class="btn btn-xs btn-danger" href="/Aurora/manager/images/{{ image.id }}/delete/">Delete</a>
			</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No Images are available.</p>
{% endif %}
{% endblock %}
