{% extends "base-content.html" %}
{% block content-body %}
<div class="row">
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <h5>Physical Resources List</h5>
      </div>
      <div class="widget-content" id="widget1">Loading...
        <script type="text/javascript">
          gadgets_list.push(new Gadget("resource_list", "widget1"))
        </script>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <h5>Virtual Resources List</h5>
      </div>
      <div class="widget-content" id="widget2">Loading...
        <script type="text/javascript">
          gadgets_list.push(new Gadget("virtual_resource_list", "widget2"))
        </script>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">&nbsp;</div>
</div>
<div class="row">
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <h5>Aggregate Memory Usage</h5>
      </div>
      <div class="widget-content" id="widget3">Loading...
        <script type="text/javascript">
          gadgets_list.push(new Gadget("aggregate_memory_usage", "widget3"))
        </script>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <h5>Aggregate CPU Usage</h5>
      </div>
      <div class="widget-content" id="widget4">Loading...
        <script type="text/javascript">
          gadgets_list.push(new Gadget("aggregate_cpu_usage", "widget4"))
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
