{% extends "base-content.html" %}
{% block content-body %}
{% if slice_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Total VMs</th>
            <th>Total Routers</th>
            <th>Total Links</th>
            <th>State</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for s in slice_list %}
        <tr>
            <td><a href="/Aurora/manager/slices/{{ s.id }}/">{{ s.name }}</a></td>
            <td>{{ s.owner }}</td>
            <td>{{ s.total_virtual_machines }}</td>
            <td>{{ s.total_virtual_routers }}</td>
            <td>{{ s.total_virtual_links }}</td>
            <td>{{ s.current_state }}</td>
            <td>
                {% if s.current_state == "Created" %}
                    <a class="btn btn-mini" href="/Aurora/manager/slices/{{ s.id }}/deploy/">Deploy</a> 
                {% endif %}
            <a class="btn btn-mini btn-danger" href="/Aurora/manager/slices/{{ s.id }}/delete/">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p><b>No Slices are available.</b></p>
{% endif %}
{% endblock %}
