{% extends "base-content.html" %}
{% block content-body %}
{% if template_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
            <th>Name</th>
            <th>Memory</th>
            <th>VCPU</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for template in template_list %}
        <tr>
            <td><a href="/Aurora/manager/templates/{{ template.id }}/">{{ template.name }}</a></td>
            <td>{{ template.memory }}</td>
            <td>{{ template.vcpu }}</td>
            <td>{{ template.description }}</td>
            <td>
            	<a class="btn btn-mini btn-danger" href="/Aurora/manager/templates/{{ template.id }}/delete/">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No Templates are available.</p>
{% endif %}
{% endblock %}
