{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if vr %}
<div class="row">
  <div class="span12">
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
            <td><b>Name</b></td>
            <td>{{ vr.name }}</td>
        </tr>
        <tr>
            <td><b>Routing Protocol</b></td>
            <td>{{ vr.get_cp_routing_protocol_display }}</td>
        </tr>
        <tr>
            <td><b>State</b></td>
            <td>{{ vr.current_state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h4>Interface Information</h4>
  </div>
  <div class="span6">
    <a class="btn btn-primary pull-right" href="/Aurora/manager/virtual_routers/{{ vr.id }}/new_virtual_interface/">Add Interface</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% if if_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
	    <tr>
	      <th>Alias</th>
	      <th>Mac</th>
	      <th>Source</th>
	      <th>Target</th>
	      <th>Connected Devices</th>
	      <th>Actions</th>
	    </tr>
      </thead>
      <tbody>
	    {% for interface in if_list %}
	    <tr>
	      <td>{{ interface.alias }}</td>
	      <td>{{ interface.mac_address }}</td>
	      <td>{{ interface.source }}</td>
	      <td>{{ interface.target }}</td>
	      <td>{{ interface.list_connected_virtual_devices }}</td>
	      <td>
	        <a class="btn btn-mini" href="/Aurora/manager/virtual_routers/{{ vr.id }}/connect_virtual_device/{{ interface.id }}/">Connect Device</a>
            <a class="btn btn-mini btn-danger" href="/Aurora/manager/virtual_routers/{{ vr.id }}/delete_virtual_interface/{{ interface.id }}/">Delete</a>
          </td>
	    </tr>
	    {% endfor %}
      </tbody>
    </table>
	{% else %}
	    <p><b>No interfaces defined.</b></p>
	{% endif %}
  </div>
</div>
{% if vr.cp_routing_protocol == "openflow" %}
<div class="row">
  <div class="span6">
    <h4>Controller Information</h4>
  </div>
  <div class="span6">
	<a class="btn btn-primary pull-right" href="/Aurora/manager/virtual_routers/{{ vr.id }}/new_remote_controller/">Add Controller</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% if ofc_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
	    <tr>
	      <th>Connection</th>
	      <th>IP</th>
	      <th>Port</th>
	      <th>Type</th>
	      <th>Actions</th>
	    </tr>
      </thead>
      <tbody>
	    {% for ofc in ofc_list %}
	    <tr>
	      <td>{{ ofc.get_connection_display }}</td>
	      <td>{{ ofc.ip }}</td>
	      <td>{{ ofc.port }}</td>
	      <td>{{ ofc.get_controller_type_display }}</td>
	      <td>
            <a class="btn btn-mini btn-danger" href="/Aurora/manager/virtual_routers/{{ vr.id }}/delete_remote_controller/{{ ofc.id }}/">Delete</a>
          </td>
	    </tr>
	    {% endfor %}
      </tbody>
	</table>
    {% else %}
        <p><b>No controller information available.</b></p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
