{% extends "base-content.html" %}
{% load utils %}
{% block content-body %}
{% if vm %}
<div class="row">
  <div class="span12">
    <table class="table table-striped table-hover table-bordered">
      <tbody>
        <tr>
            <td><b>Name</b></td>
            <td>{{ vm.name }}</td>
        </tr>
        <tr>
            <td><b>Memory</b></td>
            <td>{{ vm.memory|unit_convert:"KB" }}</td>
        </tr>
        <tr>
            <td><b>VCPU</b></td>
            <td>{{ vm.vcpu }}</td>
        </tr>
        <tr>
            <td><b>State</b></td>
            <td>{{ vm.current_state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h4>Interface Information</h4>
  </div>
  <div class="span6">
	<a class="btn btn-primary pull-right" href="/Aurora/manager/virtual_machines/{{ vm.id }}/new_virtual_interface/">Add Interface</a>
  </div>
</div>
<div class="row">
  <div class="span12">
  {% if if_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Mac</th>
          <th>Model</th>
          <th>Source</th>
          <th>Target</th>
          <th>Alias</th>
        </tr>
      </thead>
      <tbody>
	  {% for interface in if_list %}
	    <tr>
	      <td>{{ interface.id }}</td>
	      <td>{{ interface.if_type }}</td>
	      <td>{{ interface.mac_address }}</td>
	      <td>{{ interface.model }}</td>
	      <td>{{ interface.source }}</td>
	      <td>{{ interface.target }}</td>
	      <td>{{ interface.alias }}</td>
	    </tr>
	  {% endfor %}
      </tbody>
	</table>
	{% else %}
	<p><b>No interfaces defined.</b></p>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>Disks</h4>
    {% if hd_list %}
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
	      <th>Id</th>
	      <th>Type</th>
	      <th>Driver</th>
	      <th>Source</th>
	      <th>Target</th>
	      <th>Alias</th>
	    </tr>
      </thead>
      <tbody>
	  {% for disk in hd_list %}
	    <tr>
	      <td>{{ disk.id }}</td>
	      <td>{{ disk.type }}</td>
	      <td>{{ disk.driver }}</td>
	      <td>{{ disk.source }}</td>
	      <td>{{ disk.target }}</td>
	      <td>{{ disk.alias }}</td>
	    </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><b>No disks defined.</b></p>
  {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
